
body {
  font-family: 'Roboto', sans-serif;
}
.App {
  background: radial-gradient( 50% 50% at 50% 50%, #360f66 0%, rgba(54, 15, 102, 0) 100% );
}


.header{
  padding: 8px 0;
  background: #030328;
  text-align:center;
}

.header img {
  height:50px
}
.banner {
  background:url('./assets/bg-section.jpg') no-repeat;
  width:100%;
  height:100vh;
  background-size: cover;
  background-position:bottom;
  &-text {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 35%;
  }
}

.banner h2 {
  margin:0
}

.container{
  margin: 0 auto;
  width: 100%;
}
@media (min-width:540px){
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px){
  .container, .container-md, .container-sm {
      max-width: 720px;
  }
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
}


@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
}

@media (min-width: 1366px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1280px;
  }
}


